.manager{
    margin: 5% 10%;
    padding: 2%;
    background-color: rgba(29, 112, 94, 0.445);
    border-radius: 10px;
    align-items: baseline;
}

.cards{
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
    
}